<main class="full">
  <div class="container">
    <div class="row">
      <div class="col s6 offset-s3 l4 offset-l4">
        <div class="card z-depth-2">
          <h3 class="card-title yellow darken-2 black-text">New User</h3>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</main>
