<h3 class="modal-header">Delete Permission</h3>
<div class="modal-content">
  <ul class="errors"></ul>
  <p>Are you sure you wish to delete <strong><%= @permission.display_field %></strong>?</p>
</div>
<div class="modal-footer">
  <%= link_to "Confirm Delete", permission_path(@permission), method: :delete, remote: true, class: "btn blue-grey darken-3 waves-effect waves-light" %>
  <%= link_to "Cancel", "#", class: "btn modal-close" %>
</div>
