<main>
  <div class="container">
    <div class="row">
      <div class="col s12">

        <p id="notice"><%= notice %></p>

        <h4>Permissions</h4>

        <table id="permissions-list" class="striped">
          <thead>
            <tr>
              <th>Controller</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <%= render "index" %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">
                <%= page_navigation_links @permissions %>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</main>

<%= link_to raw('<i class="material-icons">add</i>'), new_permission_path, remote: true, class: "btn-floating btn-large waves-effect waves-light yellow darken-2 black-text action-button"%>

<div id="permission-modal" class="modal"></div>
