<main>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p id="notice"><%= notice %></p>

        <h4>Listing Permissions</h4>

        <table class="striped">
          <thead>
            <tr>
              <th>Controller</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @controllers.each do |controller| %>
            <% @methods = [] %>
            <tr>
              <td>
                <%= controllerName controller.name.to_s %>
              </td>
              <td>
                <% controller.action_methods.each do |action| %>
                   <% @methods << "#{action.to_s}" unless SessionsHelper.public_instance_methods.include? action.to_sym %>
                <% end %>
                <%= @methods.join ", " %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
