<main>
  <div class="container">
    <div class="row">
      <div class="col s12">

        <p>
          <strong>Controller:</strong>
          <%= @permission.controller %>
        </p>

        <p>
          <strong>Action:</strong>
          <%= @permission.action %>
        </p>

      </div>
    </div>
  </div>
</main>
