<table id="emergency-contacts-list" class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Relationship</th>
      <th>Phone Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render "/emergency_contacts/item" %>
  </tbody>
</table>

<%= link_to raw('<i class="material-icons">add</i>'), new_driver_contact_path(@driver), remote: true, class: "btn-floating btn-large waves-effect waves-light yellow darken-2 black-text action-button"%>

<div id="emergency-contact-modal" class="modal"></div>
