<% @drivers.each do |driver| %>
  <tr>
    <td><%= link_to driver.name, driver %></td>
    <td><%= link_to driver.location, driver %></td>
    <td class="actions right-align">
      <%= link_to raw("<i class='material-icons circle'>mode_edit</i>"), edit_driver_path(driver), remote: true %>
      <%= link_to raw("<i class='material-icons circle'>cancel</i>"), driver_delete_path(driver), remote: true %>
    </td>
  </tr>
<% end %>
