<main>
  <div class="container">
    <div class="row">
      <div class="col s12">

        <p id="notice"><%= notice %></p>

        <h4>Drivers</h4>

        <table id="drivers-list"class="striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%= render "index" %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">
                <%= page_navigation_links @drivers %>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </div>
  </div>
</main>

<%= link_to raw('<i class="material-icons">add</i>'), new_driver_path, remote: true, class: "btn-floating btn-large waves-effect waves-light yellow darken-2 black-text action-button"%>

<div id="driver-modal" class="modal"></div>
