@import "materialize/components/color";

#date-filter form{
  margin: 0 0 0 0;
  padding:  0 0 0 0;
}

.data-line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 0;
}

path {
  stroke: #eee;
  stroke-width: 2;
  stroke-dasharray: 0;
  fill: none;
}

text {
  font-family: Arial;
  font-size: 8pt;
  fill: #787878;
}

line {
  stroke: #CDCDCD;
  stroke-width: 0.5;
  /* stroke-dasharray: 3 3; */
  fill: none;
}

.data-point {
  stroke: steelblue;
  stroke-width: 2;
  fill: #FFF;
}

.area {
  fill: color("green", "lighten-1");
}

#chart {
  margin: 0;
}

#current-usage-graph{
  width: 100%;
}

/////// New Look ////////

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

header nav .nav-wrapper{
  margin: 0  20px;
}

main div.container{
  width: 90% !important;
  margin-top: 10px;
}

form .input-field label{
  left: 0;
}

i.stat{
  background: #000;
  color: #fff;
  padding: 5px;
}

.picker{
  outline: none;
}
