@import "materialize/components/color";

#date-filter form{
  margin: 0 0 0 0;
  padding:  0 0 0 0;
}

.data-line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 0;
}

path {
  stroke: #eee;
  stroke-width: 2;
  stroke-dasharray: 0;
  fill: none;
}

text {
  font-family: Arial;
  font-size: 8pt;
  fill: #787878;
}

line {
  stroke: #CDCDCD;
  stroke-width: 0.5;
  /* stroke-dasharray: 3 3; */
  fill: none;
}

.data-point {
  stroke: steelblue;
  stroke-width: 2;
  fill: #FFF;
}

.area {
  fill: color("green", "lighten-1");
}

#chart {
  margin: 0;
}

#current-usage-graph{
  width: 100%;
}

/////// New Look ////////

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

header nav .nav-wrapper{
  margin: 0  20px;
}

main div.container{
  width: 90% !important;
  margin-top: 10px;
}

form .input-field label{
  left: 0;
}

i.stat{
  background: #000;
  color: #fff;
  padding: 5px;
}

.picker{
  outline: none;
}

/******* Google Maps **********/
header.map{
  padding-left: 0;
}

main.map {
  padding-left: 0;
  div.container{
    margin-top: 0px;
    width: 100% !important;
  }
}

#google-map{
  width: 100%;
  min-height: 350px;
  height: 70%;
  background-color: #bbbbbb;
}

#google-map-stats{
  width: 90%;
  margin: 10px auto 0 auto;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

#map-filter-form {
  position: absolute;
  top: 160px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  a#toggle-filter{
    color: color("green", "lighten-1");
    i{
      display: block;
      padding: 10px;
      cursor: pointer;
      margin: 0 0 0 0;
    }
  }
  form {
    display: none;
  }
}

.map-label{
  color: #fff;
  text-align: center;
}
