@import "materialize/components/color";
$link-color: color("teal", "base");

table {
  font-size: 1.1em;
  a{
    color: $link-color;
  }
  td.actions {
    a {
      i {
        background-color: #000;
        color: #fff;
        padding: 3px;
      }
    }
  }
}

a.action-button{
  position: fixed;
  bottom: 25px;
  right: 25px;
}
