<main>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <p id="notice"><%= notice %></p>
        <p>
          <strong>Location:</strong>
          <%= @location.location_name %>
        </p>
        <p>
          <strong>Latitude:</strong>
          <%= @location.latitude %>
        </p>
        <p>
          <strong>Longitude:</strong>
          <%= @location.longitude %>
        </p>
      </div>
    </div>
  </div>
</main>
