<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="drawer" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <%= link_to "Ride Admin", root_path, {:class => "brand-logo black-text"} %>
    </div>
    <%= render 'layouts/sidenav' %>
  </nav>
</header>
