<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" data-activates="drawer" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <a href="#" class="brand-logo">Ride Admin</a>
    </div>
    <%= render 'layouts/sidenav' %>
  </nav>
</header>
