<div id="drawer" class="side-nav fixed">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <a class="collapsible-header bold"><i class="material-icons" role="presentation">directions_walk</i>Riders</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="">Stats</a></li>
          <li><a href="">Transactions</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="collapsible-header bold"><i class="material-icons" role="presentation">local_taxi</i>Drivers</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="">First Link</a></li>
          <li><a href="">Second Link</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="collapsible-header bold"><i class="material-icons" role="presentation">trending_up</i>Reports</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="">First Link</a></li>
          <li><a href="">Second Link</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="collapsible-header bold"><i class="material-icons" role="presentation">settings</i>Settings</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="">First Link</a></li>
          <li><a href="">Second Link</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a class="collapsible-header bold"><i class="material-icons" role="presentation">verified_user</i>Security</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="">First Link</a></li>
          <li><a href="">Second Link</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
